<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.restaurant_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Restaurant_App"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity android:name=".Adminbooktable"></activity>
        <activity android:name=".Adminshowrevenue" />
        <activity android:name=".vieworderlist" />
        <activity android:name=".Book_table" />
        <activity android:name=".ComplainReply" />
        <activity android:name=".Manage_complain" />
        <activity android:name=".AdminShowComplain" />
        <activity android:name=".View_manager" />
        <activity android:name=".Adminshowmenu" />
        <activity android:name=".Viewrevenue" />
        <activity android:name=".Viewingrediant" />
        <activity android:name=".Itemavailable" />
        <activity android:name=".clickeditem" />
        <activity android:name=".Manage_menu" />
        <activity android:name=".WaiterForgotPassword" />
        <activity android:name=".CookForgotPassword" />
        <activity android:name=".ManagerForgotPassword" />
        <activity android:name=".AdminForgotPassword" />
        <activity android:name=".UserForgetPassword" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManagerLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManagerHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCook"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Viewfeedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewWaiter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddWaiter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewCook"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminShowFeedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Adminvieworder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminStaffDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminAddManager"
            android:screenOrientation="portrait" />


        <activity
            android:name=".CookLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CookHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cook_Gujrati"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cook_Chienese"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cook_Punjabi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cook_Southindian"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cook_Unavailableorder"
            android:screenOrientation="portrait" />


        <activity
            android:name=".WaiterLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Waiter_Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Waiter_Tablelist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Waiter_Takeorder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Waiter_Tablewise_Orderlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Waiter_Change_Orderlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Waiter_Sent_Orderlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Waiter_Ready_Orderlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Waiter_Complainlist"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ViewOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RatingAvarage"
            android:screenOrientation="portrait" />

    </application>

</manifest>